@media (width <=768px) {
    .profile {
        margin: 15em auto;
    }

    .profile .container {
        width: 300px;
    }
}

/* .profile {
    transition: transform 0.3s ease-in-out;
} */

/* .profile:hover {
    transform: scale(1.05);
} */

.profile h3 {
    text-align: center;
    color: var(--whiteText);
    margin: 1em 0;
}

.profile .container {
    display: flex;
    flex-direction: column;
    background-color: rgba(74, 72, 72, 0.5);
    box-shadow: 10px 10px 78px 6px rgba(108, 137, 167, 0.75);
    border-radius: 0.5em;
    max-width: 450px;
    padding: 1em 2em;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.profile .container:hover {
    transform: scale(1.05);
}

.profile-wrapper {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.profile-media img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.profile-content ul {
    display: flex;
    flex-direction: column;
    gap: 1.9em;

}

.profile-content ul li {
    display: block;
    color: var(--whiteText);
}

.profile-content ul li span {
    padding-right: 0.5em;
    color: var(--fasolid);
}

.profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}

.profile-btn a:first-child {
    text-decoration: none;
    color: var(--whiteText);
    background-color: orange;
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    transform: scale(1);
    transition: transform 0.5s;
}

.profile-btn a:first-child:hover {
    transform: scale(1.1);
    color: var(--black);
}

.profile-btn a:last-child {
    text-decoration: none;
    color: var(--whiteText);
    background-color: darkred;
    padding: 0.3em 1.5em;
    border-radius: 0.5em;
    transform: scale(1);
    transition: transform 0.5s;
}

.profile-btn a:last-child:hover {
    transform: scale(1.1);
    color: var(--black);
}

.profile-btn a i {
    padding-right: 0.5em;
}

/* @media (max-width: 768px) {
    .profile-content li {
        width: 100%; 
    }
} */