@media (width <=768px) {
    .page-404 {
        margin: 15em auto;
    }

    .page-404 .container {
        width: 750px;
    }
}

@media (width <=600px) {
    .page-404 {
        margin: 15em auto;
    }

    .page-404 .container {
        width: 400px;
    }
}

.page-404 .container {
    margin: 0 auto;
    background-image: url(../images/Error-404.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 53em;
}
